<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Donuts</title>
  </head>
  <body>
    <h1>Donuts</h1>

    <p>Hola, @{{request.user.username}}</p>
    <a href="{% url 'users:logout' %}">
      <button>
        Logout
      </button>
    </a>

    <ul>
      {% for donut in donuts %}
      <li>{{donut.name}} - ${{donut.price}}</li>
      {% endfor %}
    </ul>
  </body>
</html>
